<h1>StaticPages#home</h1>
<p>
  The <em><%= link_to 'Ruby on Rails Tutorial','https://www.railstutorial.org/'%></em>, part of the
  <%= link_to 'Learn Enough','https://www.learnenough.com/'%> family of tutorials, is a
  <%= link_to 'book','https://www.railstutorial.org/book'%> and 
  <%= link_to 'screencast series','https://screencasts.railstutorial.org/'%>
  to teach web development with <%= link_to 'Ruby on Rails','https://rubyonrails.org/'%>.
  This is the sample app for the tutorial.
</p>
